<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- General information -->
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>{{ config.APPLICATION }}</title>
    <!-- Website CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/types.css" />
    <!-- Website JS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body>

