<section id="toolbar">
<ul>
    {% if g.path %}
    <li><span class="quota" style="background-position: {{ g.owner.percentage-100 }}px;">{{ '%0.2f' % g.owner.percentage }}%</span></li>
    <li class="separator">&nbsp;</li>
    <li class="{{ 'icons' if g.display=='details' else 'details' }} pointer"><img src="/static/img/application_view_{{ 'tile' if g.display=='details' else 'list' }}.png" alt="view" onclick="do_action('{{ 'icons' if g.display=='details' else 'details' }}')" /></li>
    {% endif %}
    {% if current_user.is_authenticated %}
    {% if g.path %}
    <li class="new_folder pointer"><img src="/static/img/folder_add.png" alt="New folder" onclick="add_folder()" /></li>
    {% else %}
    <li class="separator">&nbsp;</li>
    <li class="separator">&nbsp;</li>
    <li class="separator">&nbsp;</li>
    <li class="separator">&nbsp;</li>
    <li class="separator">&nbsp;</li>
    <li class="separator">&nbsp;</li>
    {% endif %}
    <li class="separator">&nbsp;</li>
    <li class="home"><a href="{{ url_for('file.browse', path=g.owner.login) }}"><img src="/static/img/home_page.png" alt="home" /></a></li>
    <li class="options"><a href="{{ url_for('user.options') }}"><img src="/static/img/toolbox.png" alt="Options" /></a></li>
    {% if current_user.admin %}
    <li class="administrator"><a href="{{ url_for('admin.login') }}"><img src="/static/img/administrator.png" alt="Administration" /></a></li>
    {% endif %}
    <li class="separator">&nbsp;</li>
    {% endif %}
    {% if g.path %}
    <li class="progress" id="progress"><div class="progress_bar">&nbsp;</div></li>
    <li class="separator">&nbsp;</li>
    {% endif %}

    <li class="connection">
        <span class="connection_status">{% if current_user.is_authenticated %}<strong>{{ current_user.login }}</strong>{% else %}Not connected{% endif %}</span>
        <div class="connection_actions" style="display:none">
            {% if current_user.is_authenticated %}
            <span><a href="{{url_for('user.logout') }}">Déconnexion</a></span>
            {% else %}
            <span><a href="{{url_for('user.login') }}">Connexion</a></span>
            {% endif %}
        </div>
    </li>
</ul>
</section>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <section class="flashes">
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}<span class="close" onclick="this.parentNode.style.display='none';">X</span></div>
    {% endfor %}
    </section>
  {% endif %}
{% endwith %}
