{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<section class="content centered_form">
    <h3>Login</h3>
    <form method="POST" action="{{ url_for('user.login') }}">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login) }}
    {{ render_field(g.form.password) }}
    <span class="center">
        <input type="button" value="Cancel" onclick="window.location.href='{{ url_for('core.home') }}'" />
        <input type="submit" value="Connexion" />
    </span>
    </form>
</section>
<script>document.forms[0].login.focus();</script>
{% endblock %}
