{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
{% include "user/submenu.html" %}
<section id="options">
    <h1>Options</h1>

    <form method="POST" action="{{ url_for('user.options') }}">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.display) }}
    <input type="submit" value="Save options" />
    </form>

    Change your password :
    <form method="POST" action="{{ url_for('user.password') }}">
    {{ g.password_form.hidden_tag() }}
    {{ render_field(g.password_form.password) }}
    {{ render_field(g.password_form.confirm_password) }}
    <input type="submit" value="Change password" />
    </form>
</section>
{% endblock %}
