{% extends 'base.html' %}
{% block content %}
{% include "user/submenu.html" %}
<section id="sharing">
    <h1>Partages</h1>

    {% if g.sharings %}
    <table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <th>Path</th>
        <th>Download</th>
        <th>Upload</th>
        <th>Delete</th>
        <th>Rename</th>
    </tr>
    {% for sharing in g.sharings %}
    <tr>
        <td>{{ sharing.path }}</td>
        <td>{{ sharing.can_download }}</td>
        <td>{{ sharing.can_upload }}</td>
        <td>{{ sharing.can_delete }}</td>
        <td>{{ sharing.can_rename }}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</section>
{% endblock %}
