html, body, h1, h2, h3, h4, h5, h6, p, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, ul, li {
    font-size: 1em;
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}

html, body {
    height: 100%;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.4em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.off {
    display: none;
}

.center {
    display: inline-block;
    width: 100%;
    padding: 1em 0em;
    text-align: center;
}

.flashes {
    float: right;
    padding: .2em;
    margin-right: 1em;
}

.flashes .alert {
    display: block;
    min-width: 10em;
    padding: .2em .6em;
    margin: .4em;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #99c;
    background-color: #ccf;
    color: #66c;
}

.flashes .close {
    display: block;
    float: right;
    font-size: 80%;
    cursor: pointer;
    right: 0px;
    margin-left: 1em;
}

.flashes .alert-success {
    border: 1px solid #9c9;
    background-color: #cfc;
    color: #6c6;
}

.flashes .alert-warning {
    border: 1px solid #cc9;
    background-color: #ffc;
    color: #cc6;
}

.flashes .alert-danger {
    border: 1px solid #c99;
    background-color: #fcc;
    color: #c66;
}

#toolbar {
    height: 48px;
    background-color: #eee;
}

#toolbar li {
    display: inline-block;
    text-align: center;
    padding: 6px;
}

#toolbar .separator {
    width: 2%;
}

.pointer {
    cursor: pointer;
}

.quota {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 6px;
    font-size: 12px;
    padding: 4px 0px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(/static/img/quota.png);
}

#toolbar .question {
    display: inline;
}

#toolbar .progress {
    width: 10%;
    border-radius: 4px;
    padding: 0px;
    vertical-align: .4em;
}

#toolbar .progress_bar {
    margin: 0px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: 0%;
    line-height: 1.4em;
}

#toolbar .connection {
    position: absolute;
    right: 0px;
}

#toolbar .connection a {
    color: #fff;
}

#toolbar .connection_status {
    display: inline-block;
    margin: 0px;
    padding: 0.202em 1.618em;
    background-color: #000;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    width: 9em;
}

#toolbar .connection_actions span {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin: 0px;
    width: 9em;
    padding: 0.202em 1.618em;
}

.message {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: red;
    font-weight: bold;
}

#breadcrumb, #options, #sharing {
    padding: 12px;
}

.content {
    padding: 12px;
}

.centered_form {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 50em;
    margin: 10% auto;
    padding: 3em 1em;
    text-align: center;
}

.centered_form label {
    display: inline-block;
    min-width: 10em;
}

#files {
    padding: 6px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    opacity: 1;
    visibility: visible;
}

#submenu {
    margin-left: 1em;
}

#submenu li {
    display: inline-block;
    padding: .6em;
}

.icons li {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center 10px;
    padding: 12px 0px;
    word-wrap: break-word;
    cursor: pointer;
}

.icons p {
    line-height: 1.2em;
}

.icons .name {
    padding-top: 48px;
    text-align: center;
}

.icons .size {
    display: none;
}

.icons .modification {
    display: none;
}

.icons .access {
    display: none;
}

.details {
    padding-left: 12px;
}

.details li {
    display: table-row;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
}

.details li.headers {
    font-weight: bold;
}

.details p {
    line-height: 1.2em;
}

.details .name {
    display: table-cell;
    padding-left: 20px;
    word-wrap: break-word;
    min-width: 44%;
    max-width: 54%;
}

.details .size {
    display: table-cell;
    text-align: right;
    min-width: 14%;
    max-width: 16%;
}

.details .modification {
    display: table-cell;
    text-align: right;
    min-width: 16%;
    max-width: 20%;
}

.details .access {
    display: table-cell;
    text-align: right;
    min-width: 16%;
    max-width: 20%;
}

.round_menu { position:absolute; width:32px; height:32px; cursor:pointer; }
.round_menu:hover { }
#context_download { display:none; background-image: url(/static/img/download.png); }
#context_delete { display:none; background-image: url(/static/img/delete.png); }
#context_play { display:none; background-image: url(/static/img/control_play.png); }

/* 
Menus contextuels mis de côté pour le moment
A remettre suivant les préférences utilisateurs ?
*/
#contextual_menus ul {
    display: none;
    position: absolute;
    background-color: #666;
    color: #eee;
    list-style: inherit;
    padding: inherit;
    border-radius: 5px;
}

#contextual_menus li {
    padding: 3px 6px;
    cursor: pointer;
}

#contextual_menus li:hover {
    background-color: #eee;
    color: #666;
}

input[type='file']
{
    display: none;
}

#filedrag
{
    display: none;
    background-image: url(/static/img/folder1.png);
    border: 1px solid red;
}

#filedrag.hover
{
    background-image: url(/static/img/folder2.png);
}

#progress
{
    display: block;
    width: 240px;
    padding: 2px 5px;
    margin: 2px 0;
}

#progress .uploading
{
    border: 1px inset #446;
    border-radius: 5px;
}
