.details {
    background-size: 16px 16px;
}
.type_folder {
    background-image: url(/static/img/types/folder.png);
}
.type_generic {
    background-image: url(/static/img/types/generic.png);
}

.type_pdf{background-image: url(/static/img/types/pdf.png)}
.type_picture{background-image: url(/static/img/types/picture.png)}
.type_video{background-image: url(/static/img/types/video.png)}
.type_audio{background-image: url(/static/img/types/audio.png)}

