<section id="breadcrumb">
{% if g.breadcrumbs|length >1 %}
{% for breadcrumb in g.breadcrumbs[:-1] %}
<a href="{{ url_for('file.browse', path=breadcrumb[1]) }}">{{ breadcrumb[0] }}</a> &gt;
{% endfor %}
{% endif %}
{{ g.breadcrumbs[-1][0] }}
</section>
