{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
{% include "file/breadcrumb.html" %}
<section id="contextual_menus">
<ul id="context_file_menu">
    {% if g.sharing.can_download %}<li onclick="do_action('download')">Download</li>{% endif %}
    {% if g.sharing.can_download and (g.sharing.can_rename or g.sharing.can_delete) %}<hr />{% endif %}
    {% if g.sharing.can_rename %}<li onclick="rename()">Rename</li>{% endif %}
    {% if g.sharing.can_delete %}<li onclick="do_action('delete')">Delete</li>{% endif %}
</ul>
<ul id="context_folder_menu">
    {% if current_user.is_active %}<li onclick="share()">Share</li>{% endif %}
    {% if False and g.sharing.can_download %}<li onclick="do_action('download')">Download</li>{% endif %}
    {% if (g.sharing.can_download or current_user.is_active) and (g.sharing.can_rename or g.sharing.can_delete) %}<hr />{% endif %}
    {% if g.sharing.can_rename %}<li onclick="rename()">Rename</li>{% endif %}
    {% if g.sharing.can_delete %}<li onclick="do_action('delete')">Delete</li>{% endif %}
</ul>
</section>

<section id="files" class="{{ g.display }}">
{% if g.sharing.can_upload %}
<form id="upload" action="{{ url_for('file.upload', path=g.path) }}" method="POST" enctype="multipart/form-data">
    <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
</form>
{% endif %}
<form id="do_action" action="{{ url_for('file.action', path=g.path) }}" method="POST">
    <input type="hidden" id="action" name="action" value="" />
    <input type="hidden" id="files" name="files" value="" />
    <input type="hidden" id="new_value" name="new_value" value="" />
</form>

<ul>
{% if g.display=="details" %}
<li role="type" class="headers">
    <p class="name">Name</p>
    <p class="size">Size</p>
    <p class="modification">Last modification</p>
    <p class="access">Last access</p>
</li>
{% endif %}
{% for file in g.filelist %}
<li role="type" class="{{ file.type }} {{ g.display}} {%if file.type!='type_folder'%}file{%endif%}{%if file.type=='type_folder' and file.name!='..'%}folder{%endif%}" {% if file.type=='type_folder' and (g.sharing.can_download or file.name=="..") %} link="{{ url_for('file.browse', path=file.inner_path) }}"{% endif %}{%if file.sharing.can_download%} can_download="1"{%endif%}{%if file.sharing.can_upload%} can_upload="1"{%endif%}{%if file.sharing.can_delete%} can_delete="1"{%endif%}{%if file.sharing.can_rename%} can_rename="1"{%endif%}>
    <p class="name">{{ file.name }}</p>
{% if file.type!='type_folder' %}
    <p class="size">{{ file.human_size }}</p>
{% else %}
    <p class="size"></p>
{% endif %}
    <p class="modification"><datetime>{{ file.last_modification }}</datetime></p>
    <p class="access"><datetime>{{ file.last_access }}</datetime></p>
</li>
{% endfor %}
</ul>
</section>

<section id="add_folder" class="off overlay">
<div class="centered_form">
    <form id="add_folder" onsubmit="do_add_folder();return false;">
    <input type="text" size="60" id="new_name" name="new_name" value="" placeholder="Folder name" />
    <br />
    <input type="button" value="Cancel" onclick="hide('add_folder')" />
    <input type="submit" value="Add folder" />
    </form>
</div>
</section>

<section id="rename" class="off overlay">
<div class="centered_form">
    <form id="rename" action="{{ url_for('file.action', path=g.path) }}" method="POST">
    <input type="hidden" id="action" name="action" value="rename" />
    <input type="hidden" readonly id="old_name" name="old_name" value="" />
    <input type="text" size="60" id="new_name" name="new_name" value="" placeholder="New name" />
    <br />
    <input type="button" value="Cancel" onclick="hide('rename')" />
    <input type="submit" value="Rename" />
    </form>
</div>
</section>

<section id="share" class="off overlay">
<div class="centered_form">
    <form id="share" action="{{ url_for('file.action', path=g.path) }}" method="POST">
    <input type="hidden" id="action" name="action" value="share" />
    <input type="hidden" readonly id="folder_name" name="folder_name" value="" />
    <input type="checkbox" id="can_download" name="can_download" value="1" /><label for="can_download">Download files</label>
    <input type="checkbox" id="can_upload" name="can_upload" value="1" /><label for="can_upload">Upload new files</label>
    <br />
    <input type="checkbox" id="can_delete" name="can_delete" value="1" /><label for="can_delete">Delete files</label>
    <input type="checkbox" id="can_rename" name="can_rename" value="1" /><label for="can_rename">Rename files</label>
    <br /><br />
    <input type="button" value="Cancel" onclick="hide('share')" />
    <input type="submit" value="Share" />
    </form>
</div>
</section>

<script>globalInit();</script>
{% endblock %}
